.container {
    overflow-y: auto;
    max-height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 24px;
}

.input-field {
    padding: 12px;
    outline: none;
    border-radius: 24px;
    border: 1px solid #2DAA944F;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


table {
    border-collapse: collapse;
}



/*th, td {*/
/*    padding: 12px;*/
/*    text-align: center;*/
/*    border-bottom: 1px solid #506C68;*/
/*    white-space: nowrap; !* Prevent text wrapping inside table cells *!*/
/*}*/
